<div class="container mt-5">
  <h1 class="text-center mb-4">Mis Eventos</h1>
  <div class="flex mb-4">
    <button class="btn btn-primary rounded-pill px-3" type="button" data-bs-toggle="modal" data-bs-target="#crearModal" (click)="action = 'crear'" >Crear Evento</button>
  </div>

  <!-- Card -->
  <div class="row">
    <div class="col-md-4" *ngFor="let evento of eventosFiltrados">
      <div class="card mb-3 shadow-sm">
        <h4 class="card-title text-center mt-4">
          {{ evento.nombre_evento }}
        </h4>
        <div class="card-body">


          <p class="card-text text-muted text-center">
            Fecha: <strong>{{ evento.fecha_evento | date: 'dd/MM/yyyy' }}</strong>
          </p>
        </div>

        <div class="card-footer text-body-secondary d-flex justify-content-center gap-2">
          <button
            type="button"
            class="btn btn-secondary d-flex align-items-center gap-2"
            (click)="verEntradas(evento.id)">
             Ver
          </button>
          <button
            type="button"
            class="btn btn-primary d-flex align-items-center gap-2"
            data-bs-dismiss="modal"
            data-bs-toggle="modal"
            data-bs-target="#crearModal"
            (click)="editar(evento)">
            <i class="bi bi-pencil"></i>
          </button>
          
          <button
            type="button"
            class="btn btn-danger d-flex align-items-center gap-2"
            (click)="eliminarEvento(evento.id)">
            <i class="bi bi-trash"></i>
          </button>
        </div>
        
      </div>
    </div>
  </div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="crearModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{action == 'crear' ? 'Crear' : 'Editar' }} Evento</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-body row g-3">
          <div class="col-12">
            <label  class="form-label">Nombre del Evento</label>
            <input type="username" class="form-control" name="nombre_evento"  [(ngModel)]="nombre_evento" >
          </div>
          <div class="col-12">
            <label for="inputFecha" class="form-label">Fecha del Evento</label>
            <input
              id="inputFecha"
              class="form-control"
              name="fecha_evento"
              type="date"
              [(ngModel)]="fecha_evento">
          </div>


          <div class="col-12 col-lg-12">
            <div class="d-grid">
            </div>

          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" (click)="crearEvento()" data-bs-dismiss="modal">Guardar</button>

      </div>
    </div>
  </div>
</div>
