<nav class="navbar navbar-light" style="background-color: #007522;">
  <div class="container-fluid">
    <!-- Enlace de Inicio -->
    <a class="navbar-brand" href="/inicio">
      <img src="../../../assets/logo-camioners.png" width="80" height="80" class="d-inline-block align-top" alt="">
      <span style="color: #fff;">Inicio</span>
    </a>

    <!-- Botón de Cerrar Sesión -->
    <button class="btn btn-logout btn-outline-light d-flex align-items-center" style="color: #fff;" (click)="logout()">
      <i class="bi bi-box-arrow-right me-2"></i> Cerrar Sesión
    </button>
  </div>
</nav>
