
.container {
    max-width: 1200px;
  }
  
  form .form-control {
    max-width: 250px;
  }
  
  .card {
    max-width: 200px;
    margin: auto;
  }
  
  .card img {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 5px;
  }


