
<div class="container py-4">
  <!-- Título del Evento -->
  <h1 class="text-center mb-4">{{evento?.nombre_evento}}</h1>


  <!-- Formulario Generar Entradas -->
  <div class="d-flex justify-content-center mb-4">
    <button *ngIf="mostrarCantidad" class="btn btn-success rounded-pill px-3 d-flex align-items-center gap-2" style="margin-right: 6px;" (click)="exportAllToPdf2(evento)">Exportar en Entradas</button>

    <form class="d-flex align-items-center gap-2" (submit)="generarEntradas()">
      <input
        type="number"
        class="form-control rounded-pill"
        placeholder="Cantidad a agregar"
        [(ngModel)]="cantidad_agregar"
        name="cantidad_agregar"
        required
      />
      <button
          type="submit"
          class="btn btn-primary rounded-pill px-3"
          style="white-space: nowrap; min-width: 150px;"
        >
          Generar entradas
      </button>
    </form>
  </div>
  <app-alert></app-alert>

  <!-- class="img-fluid my-3" -->
  <!-- style="width: 150px; height: 150px;" -->


  <h4 class="text-center m-5" *ngIf="mostrarCantidad"> Cantidad de entradas: {{entradas?.length }}</h4>
  <!-- Tarjetas de Entradas -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3" style="height: calc(100vh - 264px); overflow: auto;">
    <div class="col" *ngFor="let entrada of entradas">

      <ng-container *ngIf="entrada.uuid">
        <div class="card text-center h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Entrada ID: {{ entrada.id }}</h5>
            <span class="badge align-content-center" [ngClass]="entrada.usado === 0 ? 'badge-outline-success' : 'badge-outline-danger'">
              {{ entrada.usado === 0 ? 'Válida' : 'Inválida' }}
            </span>
            <qrcode  [qrdata]="'http://192.168.0.11:8080/api/v1/validate/' + entrada.uuid"  class="img-fluid my-3" style="width: 150px; height: 150px;" ></qrcode>
            <div class="d-flex justify-content-center align-items-center">              
              <!-- Botón de eliminar con icono de basura -->
              <button class="btn btn-sm rounded-pill btn-danger ms-2" (click)="eliminarEntrada(entrada)">
                Eliminar
                <i class="bi bi-trash"></i>
              </button>
            </div>
          </div>
        </div>

      </ng-container>
    </div>



