<h1>{{evento?.nombre_evento}}</h1>

<form (submit)="generarEntradas($event)">
  <input type="number" name="cantidad_agregar" [(ngModel)]="cantidad_agregar">
  <button>Agregar entradas</button>
</form>


<div *ngFor="let entrada of entradas">
  <ng-container *ngIf="entrada.uuid">

    <h5>Entrada ID: {{ entrada.id }}</h5>
    <p> Estado {{entrada.usado === 1 ? 'Invalida' : 'Valida'}}</p>
    <qrcode [qrdata]="'http://192.168.0.11:8080/api/v1/validate/'+entrada.uuid" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </ng-container>

</div>
