

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ups! Hubo un problema.</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
    <style>
       
    </style>
</head>
<body>
    

  
    <div class="d-flex align-items-center justify-content-center vh-100 bg-light">
      <div class="card w-100">
        <div class="row g-0">
          <div class="col-12 col-xl-5 d-flex align-items-center">
            <div class="card-body">
              <h1 class="display-1"><span class="text-success">¡Listo!</span></h1>
              <h2 class="font-weight-bold display-4">Entrada Validada.</h2>
              <p>¡Ya podes pasar y disfrutar del evento! <br>
                
                <br>
              </p>
            </div>
          </div>
          <div class="col-12 col-xl-7">
            <!-- <img src="../assets/success.png" class="img-fluid" alt="✔"> -->
          </div>
        </div>
        <!--end row-->
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  
</html>